@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .tab {
    position: relative;
    max-height: 10vh;
    max-width: 50vh;
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
    padding: var(--mantine-spacing-sm); /* Padding más compacto */
    border-radius: 8px; /* Reducido border-radius */
    margin: var(--mantine-spacing-xs);
    transition: background-color 0.3s, transform 0.3s; /* Transición sin sombra */
    animation: fadeIn 0.5s ease-in-out;

    &:first-of-type,
    &:last-of-type {
      border-radius: 8px;

      @mixin rtl {
        border-radius: 8px;
      }
    }

    & + & {
      margin-left: var(--mantine-spacing-xs); /* Espaciado entre tabs */

      @mixin rtl {
        margin-right: var(--mantine-spacing-xs);
        margin-left: 0;
      }
    }

    &:hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
      transform: translateY(-2px); /* Efecto hover más ligero */
    }

    &[data-active] {
      z-index: 1;
      background-color: lighten(light-dark(var(--mantine-color-white), var(--mantine-color-dark-6)), 10%); /* Aclarado del color de fondo */
      border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));

      border-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-4));
      color: var(--mantine-color-dark);
      transform: translateY(-1px); /* Ligero desplazamiento para tabs activos */
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Sombra solo para tabs activos */
      transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Transición con sombra */

      &:hover {
        background-color: lighten(light-dark(var(--mantine-color-white), var(--mantine-color-dark-6)), 15%); /* Más aclarado al hover */
      }
    }
  }
